.Comment {
    margin-top: 10px;
}

.Comment__header {
    display: flex;
    justify-content: space-between;
}

.Comment__tags {
    display: flex;
}

.Comment__tag:not(:last-child) {
    margin-right: 10px;
}

.Comment__actions {
    height: 72px;
}

.ReplySubmit {
    display: flex;
}